результат работы - CLI утилита получающая на вход параметры в виде
аргументов и возвращающая список NCTID подходящих под аргументы
запроса
python3.x
PEP8
система контроля версий git - проект должен быть доступен через
публичные репозитории github\gitlab
